<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="monkey" connectionString="Data Source=121.40.186.190;Initial Catalog=Monkey;User ID=sa;Password=tt$#@!123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>